.banner {
  color: white;
  text-align: center;
  height: 700px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  margin-top: -100px;
  background-image: image-url('bannerpic.jpg');
}
