.footer_wrapper {
  background-color: $warmgray-lighter;
  text-align: center;
  font-size: 28px;
  color: $warmgray-dark;
  padding: 12px;
  p {
    font-size: 10px;
  }
  a {
    color: $warmgray-dark;
    text-decoration: none;
  }
}

.footer_wrapper i:hover {
  color: $peach;
  text-decoration: none;
}


