---
title: Rianne's portfolio
---

<div class="banner">
  <div class="banner-content" style="padding-bottom: 150px;">
    <h1>In need for a</h1>
    <h1>fashionminded developer?</h1>
    <!-- <a class="blackbuttonbanner">Get in touch</a> -->
  </div>
</div>

<div id="about" class="about">
  <div class="container">
    <h1>About me</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <p>I love to create beautiful things. Whether it is with code, paper, fabric, pen, wood or even a 3Dprinter, I love to build stuff from scratch and see how an idea becomes reality. I had the opportunity to develop a wide range of creative skills during my fashion education at Amsterdam Fashion Institute, and learned to build software during a 3 month bootcamp at <a href="www.lewagon.org" style="color: black;">Le Wagon</a>.</p>
      </div>
    </div>
  </div>
</div>

<div id="skills" class="skills">
  <div class="container">
    <h1>Skills</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="skills-control">
          <div class="skills_icon"><i class="fa fa-graduation-cap"></i></div>
          <h2><strong>Education</strong></h2>
          <p>2001-2007 St. Ignatius Gymnasium</p>
          <p>2008-2009 MK Start</p>
          <p>2009-2014 Amsterdam Fashion Institute</p>
          <p>2016 Le Wagon</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="skills-control">
          <div class="skills_icon"><i class="fa fa-rocket"></i></div>
          <h2><strong>Skills</strong></h2>
          <p><i class="fa fa-check"></i>          Branding</p>
          <p><i class="fa fa-check"></i>          Webdesign</p>
          <p><i class="fa fa-check"></i>          Illustration</p>
          <p><i class="fa fa-check"></i>          Graphic Design</p>
          <p><i class="fa fa-check"></i>          Product Photography</p>
          <p><i class="fa fa-check"></i>          Photo editing</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="skills-control">
          <div class="skills_icon"><i class="fa fa-wrench"></i></div>
          <h2><strong>Software</strong></h2>
          <p><i class="fa fa-check"></i>          Photoshop</p>
          <p><i class="fa fa-check"></i>                            Indesign</p>
          <p><i class="fa fa-check"></i>          Illustrator</p>
          <p><i class="fa fa-check"></i>          Ruby / Ruby on Rails</p>
          <p><i class="fa fa-check"></i>          JavaScript</p>
          <p><i class="fa fa-check"></i>          HTML / CSS</p>
          <p><i class="fa fa-check"></i>          SketchUp</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="projects">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="projectbox">
          <div class="projectbox-content-img">
            <%= image_tag "shooting_square.jpg", class: "img-responsive"%>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="projectbox">
          <div class="projectbox-content-img">
            <%= image_tag "drawing_square.jpg", class: "img-responsive"%>
           </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="projectbox">
          <div class="projectbox-content-img">
            <%= image_tag "photo_square.jpg", class: "img-responsive"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="interests">
  <div class="container">
    <h1>Interests</h1>
      <div class="interest-boxes">

          <div class="interest-box">
            <i class="fa fa-glass"></i>
          </div>


          <div class="interest-box">
            <i class="fa fa-code"></i>
          </div>


          <div class="interest-box">
            <i class="fa fa-coffee"></i>
          </div>


          <div class="interest-box">
            <i class="fa fa-camera-retro"></i>
          </div>


          <div class="interest-box">
            <i class="fa fa-plane"></i>
          </div>

      </div>
  </div>
</div>


<div id="contact" class="contact">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Get in touch</h1>
        <p><strong>Interested in working together?</strong> Contact me by filling in the contact form below or sent me a message via my social media platforms.</p>
        <form action="//formspree.io/riannewestgeest@hotmail.com" method="POST">
          <div class="row" style="padding-top: 20px;">
            <div class="col-xs-4">
              <input name="name" type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col-xs-4">
              <input name="email" type="text" class="form-control" placeholder="Email">
            </div>
            <div class="col-xs-4">
              <input name="website" type="text" class="form-control" placeholder="Website">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <input name="message" type="text" class="form-control form-big" placeholder="Tell me a little about yourself">
            </div>
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-control">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="profile">
  <div class="container">
    <div class="profile-control">
      <h1 style="margin-bottom: 0px;">Rianne</h1>
      <h1>Westgeest</h1>
      <%= image_tag "profielfoto.jpg", :class => "avatar-extra-large"  %>
    </div>
  </div>
</div>



